<h1>Account Info</h1>

<%= button_to "Homepage", accounts_path, method: :get %>

<p>
  Nickname: 
  <%= link_to @account.nick_name, "https://github.com/#{@account.nick_name}" %>
</p>
<p>
  Name: 
  <%= @account.user_name %>
</p>
<p>
  Repositories:
</p>

<% @repos.each do |repo| %>
  <p>
    &nbsp;&nbsp;-&nbsp;
    <%= link_to repo.repo_name, "https://github.com/#{@account.nick_name}/#{repo.repo_name}" %>
  </p>
<% end %>