<h1>Account Info</h1>
<p><%= link_to "Homepage", accounts_path %></p>
<p>Nickname: <%= link_to @account.nick_name, "https://github.com/#{@account.nick_name}" %></p>
<p>Name: <%= @account.user_name %></p>
<p>Repositories: <%= @account.repos %></p>

